#!/bin/sh

# execute this command with `source export_azurerm_credentials.sh`

echo "Setting environment variables for Azure Resource Manager"
export ARM_SUBSCRIPTION_ID=
export ARM_CLIENT_ID=
export ARM_CLIENT_SECRET=
export ARM_TENANT_ID=

# The ARM_ACCESS_KEY environment variable is the access key used to store the remote state in Azure.
export ARM_ACCESS_KEY=